<div class="jumbotron">
   
    <div class="row">
        <div id="main-jumbo">
            <h2>Get to work</h2>
            <br/>
            <p>A simple workout planner, No annoying complex features, the planner you need.</p>
            <br/>
            <p>
                <a asp-controller="App" asp-action="WorkoutPlanner" class="btn btn-primary btn-lg">Let's Go</a>
            </p>
        </div>
    </div>
</div>