@section Css{
    <link rel="stylesheet" href="~/css/inputControls.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
}
@section Scripts{

    <script src="~/js/AppComponents.js"></script>
    <script src="~/js/WorkoutPlanner.js"></script>
    <script src="~/js/CalendarController.js"></script>
    <script src="~/js/calendarBuilder.js"></script>
    <script src="~/js/PlanController.js"></script>
    <script src="~/js/planService.js"></script>
    <script src="~/js/animService.js"></script>
    
}



<h3>Do Real Work</h3>
<blockquote>
    <p> <span class="text-warning">Success </span>is a science; if you have the conditions, you get the result. </p>
    <small>
        Oscar Wilde, Irish playwright
        <cite title="Source Title"><a href="https://en.wikipedia.org/wiki/Oscar_Wilde">Wikipedia</a></cite>
    </small>
</blockquote>

<div ng-app="WorkoutPlanner" ng-view></div>

