.range-slider {
    display:inline;
    margin: 30px 0 0 0%;
}

.slider-control {

    padding:0;
    width: 210px;
}

.range-slider__range {
    -webkit-appearance: none;
     width: calc(100% - (73px));
    width:10px;
    height: 15px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 8px;
}

    .range-slider__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #9933cc;
        cursor: pointer;
        -webkit-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
    }

        .range-slider__range::-webkit-slider-thumb:hover {
            background: #d071ff;
        }

    .range-slider__range:active::-webkit-slider-thumb {
        background: #d071ff;
    }

    .range-slider__range::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border: 0;
        border-radius: 50%;
        background: #9933cc;
        cursor: pointer;
        -webkit-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
    }

        .range-slider__range::-moz-range-thumb:hover {
            background: #9933cc;
        }

    .range-slider__range:active::-moz-range-thumb {
        background: #9933cc;
    }

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #424242;
    padding: 7px 10px;
    /*margin-left: 8px;*/
    font-size:22px;
}

    .range-slider__value:after {
        position: absolute;
        top: 8px;
        right: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 7px solid #424242;
        border-bottom: 7px solid transparent;
        content: '';
    }

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
